body{
	margin: 0;
	padding: 0;
	color: #ddd;
	font-size: 15px;
	line-height: 1.6em;
	font-family: copperplate, serif, sans-serif;
	background-color: #000;
}
.gogo {
	position:absolute;
	top:0;
}
#ThaiFoodLeftPic {
	float:left; 
	width:141px;
	height:140;
}
.Thaispacing {
	padding-left:80px;}
.Thaispacing a {}
a, a:link, a:visited { color: #9CF; font-weight: normal; text-decoration: none; transition: all .2s ease-in-out; }
a:hover { color: #FF6; text-decoration: none; -webkit-transform: scale(0.9); transform: scale(0.9);}

ul, li {
	padding:0;
	margin:0;
	list-style:none;
}

h1, h2, h3, h4, h5, h6 { color: #fff; font-weight: normal; }
h1 { font-size: 58px; margin: 0 0 30px; padding: 5px 0 }
h2 { font-size: 34px; margin: 0 0 30px; padding: 5px 0 }
h3 { font-size: 20px; margin: 0 0 20px; padding: 0; }
h4 { font-size: 16px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 14px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 12px; margin: 0 0 5px; padding: 0; font-weight: 700 }

p { padding: 0; margin: 0 0 15px 0; font-family:Helvetica }

.clear{
	clear:left;
}

cite { font-weight: bold; color:#4444ff; }
cite a, cite a:link, cite a:visited  { font-size: 12px; text-decoration: none; font-style: normal }
cite span { font-weight: 400; color: #ccc; }


.list_bullet { margin: 0 0 10px 15px; padding: 0; list-style: none }
.list_bullet li { color:#fff; margin: 0 0 7px 0; padding: 0 0 0 20px; background: url(images/templatemo_list.png) no-repeat scroll 0 6px  }
.list_bullet li a { color: #fff; font-weight: normal; text-decoration: none }
.list_bullet li a:hover { color: #fff }

.no_bullet { margin: 0; padding: 0; list-style: none }
.no_bullet li { margin: 0 0 20px 0; padding: 0 }
a.header { display: block; font-weight: 700 }

.half { width: 370px }

.h20 { height: 20px }
.h40 { height: 40px }

img { margin: 0; padding: 0; border: none; transition: all .2s ease-in-out; }
.img_hover:hover { -webkit-transform: scale(0.9); transform: scale(0.9); }
.img_border { background: #fff; padding: 4px; border: 1px solid #ccc }
.img_border_171 { width:171px; background: #fff; padding: 4px; margin-top:7px; border: 1px solid #ccc }
.img_border_135 { width:135px; background: #fff; padding: 4px; margin-top:7px; margin-left:7px; border: 1px solid #ccc }
.img_nom { display: inline-block; margin-bottom: 15px }
.img_fl { float: left; margin: 3px 15px 5px 0 }
.img_fl_nm { float: left;}
.img_fr { float: right; margin: 3px 0 5px 15px }
.img_fr_nm { float: right;}


.left { float: left }
.right { float: right }

#bullets {
    list-style: none;
	padding-left:10px;}
#bullets li:before { content:"\2022 \00A0"; color: white; }
	
#templatemo_header {
	width: 800px;
	margin: 0 auto;
	padding: 30px 0;
}

#templatemo_main {
	width: 800px;
	height: 487px;
	overflow: hidden;
	margin: 0 auto;
}

#templatemo_footer {
	width: 800px;
	margin: 0 auto;
	padding: 20px 0;
	text-align: right
}

#site_title { display: block; font-family:copperplate, serif;  }
#site_title a { color: #fff; font-weight: 700; letter-spacing: 10px; line-height: 30px; -webkit-text-stroke:2px orange; }

#content{
	overflow:hidden;
	width: 7000px;
	position:relative;
	height: 487px;
}

.section {
	position:relative;
	float:left;
	width: 800px;
	height: 487px;
	margin-right: 20px;
}

.section a.slider_nav_btn { position: absolute; top: 0; width: 50px; height: 46px; display: block; background-image: url(images/slider_nav_btn.jpg);  text-indent: -10000px }
.section a.home_btn { right: 50px; background-position: 102px 0 }
.section a.previous_btn { right: 100px; background-position: 0 0 }
.section a.next_btn { right: 0px; background-position: 50px 0 }

.box { float: left; margin: 0 10px 10px 0 }
.homebox-top { margin:0 10px 0 0; }
.homebox-bot { margin-top:10px;}
#home_about { width: 314px; height: 314px }
#home_gallery { width: 476px; height: 314px }
.home_box1 { width: 152px; height: 152px }
.home_box2 { width: 314px; height: 152px }
.color1 { background: #d1b500 }
.color2 { background: #d95500 }
.color3 { background: rgb(214,71,249) }
.color4 { background: #a6b900 }
.color5 { background: rgb(34,191,243) }
.color6 { background: rgb(196,168, 8)}
#home_gallery a { display: block; float: left; width: 152px; height: 152px; margin: 0 10px 10px 0 }
#home_gallery a.no_mr { margin-right: 0 }

#social_links {
	text-align: center;
	padding: 40px 0 0 0
}
#social_links a {
	display: block;
	float: left;
	width: 48px;
	height: 48px;
	margin-left: 12px
}
#aboutme {
	text-align: justify;
}

#gallery {

}

#gallery li {
	width: auto;
	height: auto;
	float: left;
	width: 152px;
	height: 245px;
	background: none;
	margin: 0 10px 10px 0;
}
#gallery li a {
	display: block;
}
#gallery li a img  { }

#gallery li.no_margin_right { margin-right: 0 }


#contact_header {padding-left:426px;}

#contact_form { padding: 0; width: 330px }

#contact_form form { margin: 0px; padding: 0px; }

#contact_form form .input_field { width: 150px; padding: 5px; color: #CCC; border: 1px solid #666;  background: #222; margin-bottom: 10px; }

#contact_form form label { display: block;font-size: 11px }

#contact_form form textarea {
	clear: both;
	width: 320px; height: 120px;
	padding: 5px;
	color: #CCC;
	border: 1px solid #666;
	font-family: Arial, Helvetica, sans-serif;
	background: #222;
	margin-bottom: 10px;
}

#contact_form form .submit_btn { font-size: 12px; background: #333; color: #CCC; cursor:pointer; border: 1px solid #666; padding: 5px 10px; }

.no_mr { margin-right: 0 }